body {
	margin:0;
	padding:0;
	
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #ffffff;
	
	background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
	color: rgba(255, 255, 255, 1);
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

a:hover,
a:active {
	color: rgba(255,188,158, 1);
	text-decoration-color: rgba(255, 188, 158, 0.2);
}


.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.site-wrapper {
  min-width: 1200px;
  
  background-color: #849d8f;
  background-image:  url("../img/two-icecream1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/two-icecream2.png");
}

.site-wrapper::after {
  background-image: url("../img/two-icecream3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  
  box-sizing: border-box;
}

.main-header {	
	margin: 0 auto;
	color: #000000;
}

.logo {
	margin-top: 10px;
	margin-right: 10px;
	
	width: 154px;
	float: left;
}

.main-navigation {	
	float: left;
	margin-top: 22px;
	
	width: 407px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
}

.main-navigation li:last-child {
	margin-right: 0;
}

.navigation-link {
  display: block;
  margin-bottom: 10px;
  padding: 8px 14px;
  
  color: #ffffff;
}
  
.navigation-link:hover {
  padding: 8px 14px;
  
  color: #323232;
  text-decoration: none;
  
  background-color:#f7f6f3;
  border-radius: 20px;
}

.navigation-link:active { 
  box-shadow: inset 0 2px 1px 0 #696969; 
}


/*Выпадающее меню*/
.navigation-item {
	position: relative;
}

.navigation-item .active {
	color: #FFFFFF;
	background: #EB7257;
	border-radius: 20px;
}

.sub-navigation {
	position: absolute;	
	
	display:none;
	margin: 0;
	padding: 0;
	
	left: -10px;
	
	width:145px;
	
	color: #323232;

	background-color: #F8F7F4;
	border-radius:6px;
	z-index: 1;
	
	box-shadow: 0 20px 20px 0 rgba(89, 89, 89, 0.4);
	
	overflow: hidden;
}

.sub-navigation li, .sub-menu {
	margin: 0;
	
	width: inherit;
	
	box-sizing: border-box;
}


.sub-menu{
   display: inline-block;
   padding: 8px 14px;
	
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  text-decoration: none;
  vertical-align: middle;
}

.sub-menu:hover,
 .sub-menu:focus {
	color:#323232;
}

.sub-menu-active  {
	color: #F3D4C1;
	background: #EB7257;
}

.navigation-item a:focus~.sub-navigation,
.main-navigation li:hover .sub-navigation{
	display: block;
	}

.sub-menu:hover {
	background-color: #FBDED8;
}
/*Нажатие */
.sub-menu:active {
	color: #FFFFFF;
	background: #F6B5A5;
}	
	
/* Юзер- блок*/	

.user-block {
	position: relative;
	float: right;
	min-width: 267px;
	margin-top: 23px;
	
	
}

.user-block p {
	text-align: right;
}

.user-block a {
	margin-bottom: 16px;
	color: #ffffff;
}

.time {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}

.phone {	
	float: right;

	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}

/* Юзер блок - окошки*/

.top-search-modal,
.top-login-modal,
.top-basket-modal  {
  display: none;
}  
  /*Поиск */
  
.top-search {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 6px;
	
	font-size: 0;
	border-radius: 50%;
	background: url("../img/sprite-icon.png"), rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	background-position:6px 7px;
}

.top-search:hover {
	background:  url("../img/sprite-icon.png"), rgba(255, 255, 255, 0.9); 
	background-repeat: no-repeat;
	background-position: 6px -32px;
}


/* Вход */

.top-login {
	position: relative;
	
	float: left;
	margin-left: 10px;
	padding: 7px 15px 10px 45px;
	
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.2);
	background-position:15px center;
	border-radius: 25px;	
}

.top-login::before {
	position: absolute;
	top: 1px;
	left: 19px;
	
	content: "";
	width: 25px;
	height: 25px;
		
	background: url("../img/sprite-icon.png") no-repeat,  rgba(255, 255, 255, 0);
	background-repeat: no-repeat;
	background-position:0px -75px;
}

.top-login:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #E9E8E5;
}

.top-login:hover::before{
	background:  url("../img/sprite-icon.png") no-repeat;
	background-position: 0px -118px;	
}

/* Корзина*/
.top-basket {
	float: left;
	margin-left: 10px;
	padding: 7px 33px 11px 45px;
	
	font-size: 14px;
	line-height: 16px;
	
	text-decoration: none;
	background: url("../img/sprite-icon.png") no-repeat,  rgba(255, 255, 255, 0.2);
	background-position:15px -162px;
	border-radius: 25px;	
}

.user-block .top-basket-full {
	float: left;
	margin-left: 10px;
	padding: 7px 15px 11px 45px;
	
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	
	text-decoration: none;
	background: url("../img/sprite-icon.png") no-repeat,  rgba(255, 255, 255, 0.9);
	background-position:15px -208px;
	border-radius: 25px;	
}

 /*Модальные окошки*/
 
 
.top-search-modal,
.top-login-modal,
 .top-basket-modal {
	position: absolute;
	padding: 5px 15px 20px;
	
	background-color: #F8F7F4;
	border-radius: 6px; 
	
	box-shadow: 0 20px 20px 0 rgba(89, 89, 89, 0.4);

	z-index: 5;
	}

.form {
  position: relative; 
  padding-top: 15px;
}

.form-input {
	height: 45px;
	padding:5px;
	
	box-sizing: border-box;
	
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	
	border: 1px solid #D3D3D2;
	background-color: #ffffff;
	border-radius: 6px;
}

.form-label {
  display: none; 
  position: absolute;
  top:-8px;
  left: 6px;
  font-size: 11px;
} 

.form-input:focus + .form-label {
  display:block; 
}

.form-input:focus + label {
  color: #8FBDEC; 
}

.form-input:hover {
	border: 2px solid #C7C6C5;
}

.form-input:focus {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;
	
	border: 2px solid #8FBDEC;
	
}


.form-input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-input:focus::-moz-placeholder {
  opacity: 0;
}
.form-input:focus:-ms-input-placeholder {
  opacity: 0;
}
.form-input:focus:-moz-placeholder {
  opacity: 0;
}

/* Модальное окно поиска*/

.top-search-modal {	
	right: 240px;
	bottom: -30px;	
}

.top-search-modal  input, .top-login-modal input {
	width: 310px;
}



.top-search:focus ~ .top-search-modal,
.top-login:focus ~ .top-login-modal,
.top-basket-full:focus ~ .top-basket-modal,
.top-search-modal:hover,
.top-login-modal:hover,
.top-basket-modal:hover {
  display: block;
}

/* Модальное окно входа*/

.top-login-modal  {
	right:130px;
	top: 40px;
}

.top-login-modal input {
	width: 240px;
	margin-bottom: 15px;
}

.top-login-modal .btn {
	display: block;
	float: left;
	
}

.top-login-modal a {
	float: right;
	
	display: block;
	margin-bottom: 0;
	
	font-weight: 200;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration-color: #ADACAA;
}

.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 23px;

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color:#FEFEFE;
	text-decoration: none;
	
	text-shadow: 0 2px 5px rgba(160,32,11 0.8);

	background-color: #EE5C3E;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #F26743, #E74B36);
	-moz-box-shadow: 0 1px 2px 0 #AC1000;
	box-shadow: 0 1px 2px 0 #AC1000;
}

.btn:hover, .link-btn:hover{
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160,32,11, 0.8);

	background-image: linear-gradient(to bottom, #F26743, #EC6F5E);
	box-shadow: 0 2px 2px 0 #AC1000;
}

.btn:active, .link-btn:active{
	text-shadow: 0 2px 5px rgba(160,32,11 0.8);

	background-image: linear-gradient(to bottom, #D84732, #E1613E);
	box-shadow: inset 0 2px 2px 0 #942718;
}

/* Модальное окно корзины */

.top-basket-modal{
	position: absolute;
	top: 49px;
	right: 0px; 
	width: 540px;
	padding: 20px 15px;
	
	box-sizing: border-box;
	
	text-align: left;
	color: #323232;	
	background-color: #ffffff;
	z-index: 1;
}

.basket-product {
	position: relative;
}

.close {	
  position: absolute;
  top: -3px;
  left: -8px;
  width: 22px;
  height: 22px;

  font-size: 0;
  border: 0;
  background-color: transparent;
  
  cursor: pointer;
}

.close::before, 
.close::after {
  content: "";
  position: absolute;
  top: 19px;

  width: 16px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}


 .product-name,
 .number {
	display: block;
	
	float: left;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 20px;	
	
	box-sizing: border-box;
	
	font-size: 13px;
	line-height: 16px;
	font-weight: 200;
}

.product-name {
	float: left;
	width: 280px;
	padding-left: 70px;	
	margin-right: 20px;
}

.number  {
	float: left;
	width: 120px;
}

.sum {
	float: right;
	
	padding-top: 10px;
	padding-bottom: 20px;

	font-size: 12px;
	line-height: 16px;
}

.pt1 {
	background: url(../img/basket-pt1.png) no-repeat 27px 3px;
}

.pt2 {
	background: url(../img/basket-pt2.png) no-repeat 27px 3px;
}

.number span {
	margin: 0;
	margin-right: 20px;
	
	color: #999999;
	font-size: 12px;
	line-height: 16px;
}

.total {
	text-align: right;
	
	font-size: 15px;
	line-height:18px;
	font-weight: 700;
	
	border-top: 1px solid #CACAC7;
}

/* Cлайдер*/

.slider {
  position: relative;
  
  margin-bottom: 42px;
  padding-top: 274px;

  text-align: center;
  color: #ffffff;
}

.slider-slide {
	display: none;
}

.slider-slide h2{
	display: block;
	width: 700px;
	
	margin:auto;
	margin-bottom: 30px;
	padding: 0;
	
	font-size: 60px;
	line-height: 61px;
	
	font-weight: 700;
}


.slider-controls {
    position:absolute;
	bottom: 9px;
    left: 0;
    z-index: 20;

    font-size: 0;
}


.slider-controls label {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    background-color:rgba(255, 255, 255, 0.0);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color:rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/two-icecream1.png);
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/two-icecream2.png);
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/two-icecream3.png);
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: rgba(255, 255, 255, 1);
}




.link-btn {
	display: inline-block;
	padding: 8px 40px;

	font-weight: 700;
	vertical-align: top;
	text-align: center;
	color:#FEFEFE;
	text-decoration: none;
	
	text-shadow: 0 2px 5px rgba(160,32,11, 0.8);

	background-color: #EE5C3E;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #F26743, #E74B35);
	-webkit-box-shadow: 0 1px 2px 0 #AC1000;
	-moz-box-shadow: 0 1px 2px 0 #AC1000;
		 box-shadow: 0 1px 2px 0 #AC1000;
}

.slider-slide .link-btn  {
	font-size: 32px;
	line-height: 44px;
}
 /*Бонус*/
 
.bonus {
	position: relative;
	margin-bottom: 38px;
}

.bonus h2 {
	margin: 0 auto 15px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
	
}

.bonus p {
	margin: 0 auto 55px;
	
	font-size: 18px;
	line-height:22px;
	font-weight: 700;
}
/* кнопки должны быть справа - не получается*/
.bonus .link-btn {
	padding: 11px 20px;
	
	font-size: 18px;
	line-height:24px;
}

.bonus-left, .bonus-right {	
	width: 560px;
	padding: 15px 20px;
	box-sizing: border-box; 
	
	border-radius: 16px;
}



.bonus-left {	
	float: left;
	
	background:url(../img/raspberry-fon.png) no-repeat center;
}

.bonus-right {
	float: right;
	
	background:url(../img/chocolate-fon.png) no-repeat center;
}

/* Бесцеллер*/
.container-inner {
	margin: 0 auto;
	padding: 0;
}

.bestseller{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.bestseller-item {
	display: inline-block;
	width: 267px;
	font-size: 16px;
	padding: 0 15px;
}

.bestseller-item::before {
	content: "";
	position: absolute;
	
	display: block;
	
	box-sizing: border-box;
	
	width: 60px;
	height: 60px;
	padding: 15px;
	
	background: url(../img/best.png);
	border-radius: 50%;
}

.bestseller-item p {
	margin: -62px 0 20px 0;
	padding: 0;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
	color: #ffffff;	
}

.bestseller-item  span {
	
	padding: 0;
	
	font-size: 34px;
	line-height: 45px;
	
}

.link {
	display: inline-block;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.link:hover, .link:active {
	color: #FFBC9E;
	text-decoration-color: #A7A294;
}


.bestseller-item:last-child {
	margin-right:0;
}

/* Особенности*/


.feature {
	width: 100%;
	margin-bottom: 40px;
	padding: 25px 20px;
	
	box-sizing: border-box;
		
	font-size: 16px;
	line-height: 22px;
	font-weight: 200;
	color: #323232;
	
	background-image: url(../img/pattern2.png);	
	border-radius: 12px;
}

.feature h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.feature-item {
	box-sizing: border-box;
	
	padding: 20px  0 0 57px;
}

.one{
	background-image: url(../img/one-icon.png); background-repeat: no-repeat;
    background-position: 0 7px;
}

.two{
	background-image: url(../img/two-icon.png); background-repeat: no-repeat;
    background-position: 0 9px;
}

.three{
	background-image: url(../img/three-icon.png); background-repeat: no-repeat;
    background-position: 0 7px;
}

.four{
	background-image: url(../img/four-icon.png); background-repeat: no-repeat;
    background-position: 0 9px;
}


.feature  h3 {
	margin: 0;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.feature-item {
	float: left;
	width:540px;
	margin-right: 26px;
}

.feature-item:nth-child(odd) {
	margin-right:0;
}
.box {
	margin-bottom: 40px;
	padding: 0;
}

.box-news {
	float:left;
	width:560px;
	padding: 23px 20px 78px 20px;
	
	box-sizing: border-box;
	
	background-color: #ffffff;
	background-image: url(../img/news-fon.png);
	background-position: -50px -230px;
	background-repeat: no-repeat;
	border-radius: 16px;
}

.box-news h3,
.box-news a,
.box-mail p {
	color: #2F2F2F;
}

.box-news a:hover, .box-news a:active {
	color: #E84D37;
	text-decoration-color: #F9CDC4;
}

.box-news h3{
	margin: 0;
	margin-bottom: 7px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 200;
}

.box-news a {
	display: block;
	width: 300px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	
}

.box-mail {
	float: right;
	width:560px;
	padding: 5px;
	
	box-sizing: border-box;
	background: #F8F7F5 url(../img/pattern.png);
	
	border-radius: 16px;
}

.box-mail-inner {
	background: #F8F7F5;
	padding: 28px 22px 34px 22px;
	
	border-radius: 16px;
}

.box-mail p {
	margin: 0 auto 37px auto;
}

.box-mail-inner input {
	box-sizing: border-box;
	
	width: 368px;
	height: 45px;
	margin-right: 10px;
	padding:5px;
	
	color: #999999;
	border: 1px solid #D3D3D2;
	background-color: #ffffff;
	border-radius: 6px;
}

.box-mail-inner .btn {
	padding: 10px 13px;
	margin-right: 0;
}

/*Карта*/
.map {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}


.map-contacts {
	position: absolute;
	top: 60px;
	right: 100px;
	
	box-sizing: border-box;
	
	width:303px;
	padding:30px 25px;
		
	color: #000000;
	
	background-color: #ffffff;
	border-radius: 16px;
}

.map-contacts p {
	margin: 0;
	margin-bottom: 26px;
	
	font-size: 14px;
	line-height: 20px;
	font-weight: 200;
	
	color: #323232;
}

.map-contacts p:last-child {
	margin-bottom: 25px;
}

.map-contacts span {
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	color: #323232;
}

.map-contacts .link-btn {
	padding: 10px 28px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

/* Обратная связь*/

@keyframes bounce {
  0%   {
    transform: scale(0.1);
  }
  70%  {
    transform: scale(0.7);
  }
  90%  {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
  
  0%   {
    opacity: 0;
  }
  70%  {
    opacity: 0.4;
  }
  90%  {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.feedback-modal-wrapper {
	display: none;
	position: absolute;
	top: 0;
	
	
	width: 100%;
	height: 100%;
}

.feedback-modal-wrapper-show {
	display: block;
	
}

.feedback-modal {
	position: fixed;
	top: 35px;
	left: 50%;
	z-index: 40;
	
	width: 480px;
	margin-left: -240px;
	padding: 15px 24px 24px; 
	
	box-sizing: border-box;
	
	background-color: #F8F7F4;	
	border-radius:  16px;
	
	animation: bounce 0.4s;
}


.feedback-modal-close {
  position: absolute;
  top: 15;
  right: 18px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedback-modal::before {
	content: "+";
	
	position: absolute;
	top: 15px;
	right: 15px;
	
	font-size: 50px;
	font-weight: 200;	
	color: #323232;
	
	transform: rotate(45deg);
}

.feedback-modal p {
	margin: 0;
	margin-bottom: 20px;
	
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;	
	color: #323232;
}

.form-input, 
.form-text {
	
	margin-bottom: 20px;
	padding: 5px;
	box-sizing: border-box;
	
	background-color: #ffffff;
	border: 1px solid #D3D3D2;
	
	border-radius:  8px;
}

.form-input {
	width: 265px;
	height: 45px;
}

 .form-text {
	 width: 424px; 
	 height: 153px;
 }
 
 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.5);
}

 

/* Страница каталога*/
/* Фильтр */
.main-header-inner {
	margin-bottom: -20px;
}

.change {
	margin-bottom: 32px;
}

.catalog-header {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 35px;
	line-height: 41px;
	font-weight: 700px;
}

.change-population label,
.change-price label {
	display: block;
}

.change-population select {
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 5px 15px;
}
.change-population select:focus {
  outline-width: 0;
}

.change-population select:hover,
.change-population select:active{
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.change p,
.change-population label,
.change-price label {	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500px;
}
.change-population label,
.change p {
	margin: 0;
	margin-bottom: 7px;
	padding-left: 18px;
}

.change-population,
.change-price,
.change-fat,
.change-filler {
	display: inline-block;
}

/* Range */

.filter-range {
	position: relative;
	top: -28px;
	
	margin-right: 13px;
	
	display: inline-block;
	
	width: 220px;
	color: #ffffff;
}

.price-controls {
	position: relative;
	top: -5px;
	padding-left: 18px;
}


.price-controls label {
  display: inline-block;
  
  font-size: 14px;
  line-height: 16px;
  
  cursor: pointer;
}

.price-controls input {
  width: 60px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 16px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  margin-left: 10px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 9px;
  
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}


.range-toggle-min {
  left: 10%;
}

.range-toggle-max {
  left: 70%;
}



/**/

.filter-wrapper {
	
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 0 11px;
}

.change-filler {
	margin-top: -10px;
}

.change-fat label,
.change-filler label {
  display: inline-block;
  margin: 5px 7px;
  cursor: pointer;
}


.change-fat input,
.change-filler input {
  position: absolute;
  left: -9999px;
}


.change-fat label{	
	padding-left: 30px;
	background-image: url(../img/sprite-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -303px;	
}

input[type="radio"] + label:hover {
	background-position: 0px -350px;
}

input[type="radio"]:checked + label {
	background-position: 0px -399px;
}

input[type="radio"]:checked + label:hover {
	background-position: 0px -450px;
}

.change-filler label{	
	padding-left: 30px;
	background-image: url(../img/sprite-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -505px;	
}

input[type="checkbox"] + label:hover {
	background-position: 0px -561px;
}

input[type="checkbox"]:checked + label {
	background-position: 0px -621px;
}

input[type="checkbox"]:checked + label:hover {
	background-position: 0px -679px;
}



.btn-hollow {
	padding: 8px 27px;
	
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	
	background-color:rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 25px;
}

.btn-hollow:hover {
	color: #323232;
	
	background-color:rgba(255, 255, 255, 1);
}

.btn-hollow:active {
		background-color:#EAEAEA;
		box-shadow: inset 0 3px 2px -1px #323232;
		border: none;
}

/* Каталог*/
.container-catalog {
	width: 1200px;
	margin: 0 auto;
}

.catalog {
	font-size: 0;
	margin-bottom:44px;
	padding: 0 13px;
}

.catalog-item {
	display: inline-block;
	
	width: 267px;
	padding: 10px 13px;
	margin-bottom: -41px;
	
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	
	vertical-align: top;
	
	cursor: pointer;
}


.catalog-item p {
	margin: -62px 0 20px 0;
	padding: 0;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-align: left;
	
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
	color: #ffffff;	
}

.catalog-item  span {
	
	padding: 0;
	
	font-size: 34px;
	line-height: 45px;
	
}

.link {
	display: inline-block;
	margin-bottom: 20px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
}

.link:hover, .link:active {
	color: #FFBC9E;
	text-decoration-color: #A7A294;
}

.catalog-item .link-btn {
	visibility: hidden;
}

.catalog-item:hover {
	position: relative;
	
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.4);
}


.catalog-item:hover .link-btn {
	visibility: visible;
	
}


/*Пагинация*/


.paginator {
	margin-bottom:17px;
	text-align: right;
	padding: 10px;
    white-space: nowrap;
}

.paginator a {
    display: inline-block;
    min-width: 24px;
    height: 24px;
	
    text-align: center;
	font-size: 16px;
    line-height: 25px;
	font-weight: 500;
	vertical-align: bottom;
	
    text-decoration: none; 	
	border-radius: 50%;  
}

.paginator a:hover {
	color: #ffffff;
	
	background-color: rgba(255, 255, 255, 0.2);
}
.paginator a:active,
.paginator .current,
.paginator .current:hover  {
	color: #323232;
	
	background-color: #ffffff;
}



.paginator .prev {
    	
	background: url(../img/sprite-icon.png) no-repeat 0 -957px;
}

.paginator .next {
    
	background: url(../img/sprite-icon.png) no-repeat 13px -1005px;
}

.paginator .disabled {
	opacity: 0.6;
}

.paginator .prev:hover,
.paginator .next:hover {
	background-color: rgba(255, 255, 255, 0);
}

/* Footer */
 
.main-footer {
	
	padding-bottom: 25px;
	
}


.main-footer .container {
	padding-top: 20px;
}

.inner {
	
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-social {
	float:left;
	
	width:267px;
	padding: 10px 0;
	margin-right: 26px;
	
	
}

.footer-social a {
	position: relative;
	
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	
	border: 3px solid;
	border-color:	rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	
	
	font-size: 0;
}

.footer-social .social-btn::before {
	position: absolute;
	
	content: "";
	
	width: 32px;
	height: 32px;
	
	border-radius: 50%;
	
}

.social-btn-tw::before {
	background-image: url(../img/social-sprite.png);
	opacity:0.8;
	background-position:0 0 ;
	background-repeat: no-repeat;
}

.social-btn-inst::before {
	background-image: url(../img/social-sprite.png);
	opacity:0.8;
	background-position: -51px 0;
	background-repeat: no-repeat;
}

.social-btn-fb::before {
	background-image: url(../img/social-sprite.png);
	opacity:0.8;
	background-position: -102px 0;
	background-repeat: no-repeat;
}

.social-btn-vk::before {
	background-image: url(../img/social-sprite.png);
	opacity:0.8;
	background-position:-152px 0 ;
	background-repeat: no-repeat;
}

.social-btn-tw:hover::before,
.social-btn-inst:hover::before, 
.social-btn-fb:hover::before,
.social-btn-vk:hover::before {
	opacity:1;
}

.social-btn-tw:active::before,
.social-btn-inst:active::before, 
.social-btn-fb:active::before,
.social-btn-vk:active::before {
	opacity:0.8;
	box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.4);
} 

.footer-material {
	float:left;
	width:560px;

	text-align: center;
}

.footer-material a{	
    padding-left: 30px;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 200;		
}

.footer-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 17px;
	
	list-style: none;
	
	text-align: left;	
}

.left li {
	padding-left: 8px;
}

.footer-material .favorites {
	font-weight: 700;
	
	
	background: url(../img/sprite-icon.png) no-repeat 1px -259px;
}

.footer-copyright {
	position: relative;
	
	float:right;
	width:267px;
	padding-top: 40px;
	
	text-align: right;
	
	font-size: 12px;
	line-height: 15px;
	font-weight: 200;
}

.footer-copyright img {
	position: absolute;
	top: -4px;
	left: 81px;
}

.footer-copyright .link {		
	font-size: 12px;
	line-height: 18px;
	font-weight: 200;		
}

